<%- include ('../partials/header') %>


<div class="container my-5">
  <header>
	<h1> About the product </h1>
	  <h2><%- product.name %>
	  <br>
	  <%- product.description %>
	  <br>	  
	  <%- product.price %>
	  </h2>
  </header>  
</div>


<%- include ('../partials/footer') %>